
.icon-svg_counter:before { content: '\e800'; } /* '' */
.icon-time_time:before { content: '\e801'; } /* '' */
.icon-sr_time:before { content: '\e802'; } /* '' */
.icon-people:before { content: '\e803'; } /* '' */
.icon-scripts:before { content: '\e804'; } /* '' */
.icon-union:before { content: '\e805'; } /* '' */
.icon-listprocess:before { content: '\e806'; } /* '' */
.icon-icon_menu:before { content: '\e807'; } /* '' */